{% extends 'quiz/base.html' %}
{% load staticfiles %}
{% block title%}Start{% endblock %}
{% block body %}

<link href="{% static 'quiz/css/assessment_base.css' %}" rel="stylesheet">
<center><h1>{{assessment.name}}</h1></center>
<div class="row">
	<div class="col-sm-1">
		<div class="icon-bar">
		{% for q in questions %}
			{% if q.pk == question.pk %}
		  		<a style="background-color:  #3fada8;" href="{% url 'quiz:assessment_start_question' assessment.pk q.pk %}">{{ forloop.counter }}</a> 
		  	{% else %}
		  		<a href="{% url 'quiz:assessment_start_question' assessment.pk q.pk %}">{{ forloop.counter }}</a> 
		  	{% endif %}
		{% endfor %}
		</div>
	</div>
	<div class="col-sm-9">
		<br><br>
		<div class="container">
			<br>
			<form class="form-horizontal" method="POST" action="">
				{% csrf_token %}
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container">
							  <div>
							  	{% if question.question_image == None %}
							        {% else %}
							        	<div><img src="{{question.question_image}}" height="200"></div>
							        {% endif %}
						        <div><b>Q: {{question.question}}</b></div>
							    <div class="radio">
							    	{% if question.option_a_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_a_image}}" height="200"></div>
							        {% endif %}
							      <label>

							        {% if response == "A" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios1" value="A" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios1" value="A">
							        {% endif %}
							        {{question.option_a}}
							      </label>
							    </div>
							    <div class="radio">
							    	{% if question.option_b_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_b_image}}" height="200"></div>
							        {% endif %}
							      <label>
							        {% if response == "B" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios2" value="B" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios2" value="B">
							        {% endif %}
							        {{question.option_b}}
							      </label>
							    </div>
							    <div class="radio">
							    	{% if question.option_c_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_c_image}}" height="200"></div>
							        {% endif %}
							        {% if question.option_c == '' %}
							        {% else %}
							      <label>
							        {% if response == "C" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios3" value="C" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios3" value="C">
							        {% endif %}
							        {{question.option_c}}
							      </label>
							      {% endif %}
							    </div>

							    <div class="radio">
							    	{% if question.option_d_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_d_image}}" height="200"></div>
							        {% endif %}
							        {% if question.option_d == '' %}
							        {% else %}
							      <label>
							        {% if response == "D" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="D" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="D">
							        {% endif %}
							        {{question.option_d}}
							      </label>
							      {% endif %}
							    </div>

							    <div class="radio">
							    	{% if question.option_e_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_e_image}}" height="200"></div>
							        {% endif %}
							        {% if question.option_e == '' %}
							        {% else %}
							      <label>
							        {% if response == "E" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="E" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="E">
							        {% endif %}
							        {{question.option_e}}
							      </label>
							      {% endif %}
							    </div>

							    <div class="radio">
							    	{% if question.option_f_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_f_image}}" height="200"></div>
							        {% endif %}
							        {% if question.option_f == '' %}
							        {% else %}
							      <label>
							        {% if response == "F" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="F" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="F">
							        {% endif %}
							        {{question.option_f}}
							      </label>
							      {% endif %}
							    </div>

							    <div class="radio">
							    	{% if question.option_g_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_g_image}}" height="200"></div>
							        {% endif %}
							        {% if question.option_g == '' %}
							        {% else %}
							      <label>
							        {% if response == "G" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="G" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="G">
							        {% endif %}
							        {{question.option_g}}
							      </label>
							      {% endif %}
							    </div>


							    <div class="radio">
							    	{% if question.option_h_image == None %}
							        {% else %}
							        	<div><img src="{{question.option_h_image}}" height="200"></div>
							        {% endif %}
							        {% if question.option_h == '' %}
							        {% else %}
							      <label>
							        {% if response == "h" %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="H" checked>
							        {% else %}
							        	<input type="radio" name="optionsRadios" id="optionsRadios4" value="H">
							        {% endif %}
							        {{question.option_h}}
							      </label>
							      {% endif %}
							    </div>
						
							  </div>
							</div>

						</div>
					</div>
				</div>
				<br><br>
				<center><input type="submit" class="btn btn-lg btn-danger success" name="Submit" id="Submit" disabled="disabled"></center>
				<br><br>
				<br><br>
				<br><br>
			</form>

		</div>
	</div>
	<div class="col-sm-2"  style="border-style: dotted; height: 100px" >
		<h4 style="margin:0;">Time Remaining</h4>
		<br>
		<h4 id="demo" style="margin: 0; font-weight: bold;"><h4>
		<br><br><br><br>
	</div>
</div>
		
<script>
	// Set the date we're counting down to
	console.log({{start_time}});
	console.log({{end_time}});
	console.log({{curr_time}});
	var countDownDate = {{end_time}};
	var my_front_time=new Date().getTime();
	var curr_time={{curr_time}};
	var offset=my_front_time-curr_time;
	

	// Update the count down every 1 second
	var x = setInterval(function() {

	    // Get todays date and time
	    var now = new Date().getTime();;
	    
	    // Find the distance between now an the count down date
	    var distance = countDownDate - now + offset;
	    
	    // Time calculations for days, hours, minutes and seconds
	    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	    
	    // Output the result in an element with id="demo"
	    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
	    + minutes + "m " + seconds + "s ";
	    
	    // If the count down is over, write some text 
	    if (distance < 0) {
	        clearInterval(x);
	        document.getElementById("demo").innerHTML = "EXPIRED";
	        window.location="{% url 'quiz:time_exp' assessment.pk %}";
	    }
	}, 1000);
</script>
<script type="text/javascript">
setInterval(
function check() {
	if ($('input[name=optionsRadios]:checked').length > 0) {
    document.getElementById("Submit").removeAttribute("disabled");
}
},100)

</script>
{% endblock %}
