{% extends 'quiz/base.html' %}
{% load staticfiles %}
{% block title%}create{% endblock %}
{% block body %}
<style type="text/css">
	.panel{
		height: 100px;
		vertical-align: middle;
	}
</style>
<div class="container">
	<center>
		<h3>{{assessment.name}}</h3>
		<h5>{{assessment.date}}</h5>
	</center>
	<br>
	<div class="row">
		<div class="col-sm-4"><b>Max Marks:</b>{{assessment.max_marks}}</div>
		<div class="col-sm-4"><center><b>No. of Questions:</b>{{assessment.no_of_questions}}</center></div>
		<div class="col-sm-4"><div class="pull-right"><b>Duration:</b>{{assessment.duration}}</div></div>
	</div>
	<br>
	{{ assessment.description }}
	<br>
	<center>
		<h3>Questions</h3>
	</center>
	<div class="col-sm-3">
		<a href="{% url 'quiz:createQuestion' assessment.pk%}">
		<div class="panel panel-default">
		<h1><center>
			<span class="glyphicon glyphicon-plus"></span>
		</center></h1>
		</div>
		</a>
	</div>
	{% for question in questions %}
		<div class="col-sm-3">
			<a href="{% url 'quiz:viewQuestion' question.pk%}">
			<div class="panel panel-default">
				{{question.question}}
			</div>
			</a>
		</div>
	{% endfor %}

</div>

{% endblock %}